@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital@0;1&family=Jost:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
